.body-left h1 {
    font-size: 55px;
}

.body-left h2 {
    font-size: 40px;
}

a{
    text-decoration: none;
}

.body-left {
    width: 550px;
    float: left;
    margin-top: 120px;
    justify-content: center;
    line-height: 15px;
    font-size: 20px;
}

.body-left img {
    width: 400px;
    margin-left: 230px;
    margin-top: -20px;
    z-index: auto;
}


.body-right-signin {
    width: 365px;
    float: left;
    margin-top: 120px;
    margin-left: 200px;
    border: 2px solid;
    border-color: rgb(170, 170, 238);
    border-radius: 10px;
    padding: 8px 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.body-right-signup {
    width: 365px;
    float: left;
    margin-top: 90px;
    margin-left: 200px;
    border: 2px solid;
    border-color: rgb(170, 170, 238);
    border-radius: 10px;
    padding: 8px 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.body label{
    font-size: 25px;
}

.put{
    width: 328px;
    margin-top: 25px;
    padding: 15px;
    border: 0ch;
    background-color: rgb(230, 227, 227);
    font-size: 14px;
    border-radius: 10px;
}

.smbut{
    width: 330px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #4D47C3;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.body {
    margin-inline: auto;
}